@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');
:root{
    --main-color:#d3ad7f;
    --black-color:#13131a;
    --blackground-color:#010103;
    --border: 0.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    border: none;
    outline: none;
    text-decoration: none;
    transition: 0.2s linear;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--blackground-color);
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    margin-top: 8rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 0.2rem;
}

@keyframes fadeOut {
   from{
        opacity: 0;
    }
   to{
        opacity: 1;
    }
}


/*media queries*/
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width:768px){

    .header .icons #btn-bars{
     display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
        transition: ease-out 0.5s;
    }
   .header nav a{
       transition: 0.2s linear;
        display: block;
        color: var(--black-color);
        margin: 1.5rem;
        padding: .5rem;
        padding-top: 1rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    #home{
        text-align: center;
        background-position: left;
        background-size: cover;
    }
    #home .content h3{
        font-size: 4.5rem;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
}