/* Phần đầu */
.header{
    background: rgba(22, 22, 22, 0.616);
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    padding: 1.5rem 8%;
    border-bottom: var(--border);
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 8rem;
}
.navbar a{
    font-size: 1.6rem;
    color: #fff;
    margin: 0 1.2rem;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons i{
    color: #fff;
    font-size: 2rem;
    margin:0 2rem;
    cursor: pointer;
}
.header .icons i:hover{
    color: var(--main-color);
}
#btn-bars{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 40rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
    transition: ease-out 0.2s;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--black-color);
}
.header .search-form label:hover{
    color: var(--main-color);
}
.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}
.header .cart-items-container.active{
    right: 0;
    transition: 0.2s ease-out;
}
.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .cart-items-container .cart-item .cart-item-cancel{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black-color);
}
.header .cart-items-container .cart-item .cart-item-cancel:hover{
    color: var(--main-color);
    transform: scale(1.2);
}
.header .cart-items-container .cart-item img{
    height: 8rem;
}
.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black-color);
    padding-bottom: .5rem;
}
.header .cart-items-container .cart-item .content .price{
    font-size: 1.4rem;
    color: var(--main-color);
}
.header .cart-items-container .btn{
    width: 100%;
    text-align:center ;
}

/* Home */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/coffee-background.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}
.home .content{
    max-width: 60rem;
    margin-left: 2rem;
}
.home .content h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 6rem;
    margin-top: 10vh;
}
.home::after{
    position: absolute;
    content: '';
    height: 10rem;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to top, var(--blackground-color), transparent);
}
/*Đọc thêm */
.home .content p,
.home .content .moreText{
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-size: 1.8rem;
    padding: 1rem 0;
    line-height: 2;
    text-transform: none;
}
.home .content p::first-letter{
    font-size: 2.4rem;
}
.home .content .moreText{
    display: none;
}
.home .content .text.show-more .moreText{
    display: inline;
    animation: fadeOut 0.3s linear;
}
.home .content .text.show-more .dots{
    display: none;
}

/*Thông tin*/
.about .row{
    display: flex;
    align-items: center;
    background: var(--black-color);
    flex-wrap: wrap;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}
/* Thông tin tìm hiểu*/
.about .row .content p,
.about .row .content .content-moreText{
    font-size: 1.8rem;
    font-family: 'Crimson Text', serif;
    color: #ccc;
    line-height: 1.8;
    padding: 1rem 0;
    text-transform: none;
}
.about .row .content .content-moreText{
    display: none;
}
.about .row .content .content-text.shows-more .content-moreText{
    display: inline;
    animation: fadeOut 0.5s linear;
}
.about .row .content .content-text.shows-more .content-dots{
    display: none;
}
/* Menu */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box h3{
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 2rem;
}
.menu .box-container .box .price{
    color: var(--main-color);
    font-size: 2.5rem;
    padding: .5rem 0;
}
.menu .box-container .box .price span{
    color: #fff;
    text-decoration: line-through;
    font-size: 1.5rem;
}
.menu .box-container .box:hover{
    background: #ccc;
}
.menu .box-container .box:hover > *{
    color: var(--black-color);
}

/* Product */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 3rem;
    position: relative;
}
.products .box-container .box .icons i{
    height: 5rem;
    width: 5rem;
    color: #fff;
    margin: .5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    margin-bottom: 0.3rem;
}
.products .box-container .box .icons i:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
/*Cart*/
.products .box-container .box .icons-cart .icons-cart-full{
    color: rgb(72, 72, 202);
    background-color: #fff;
    border-radius: 5%;
} 
.products .box-container .box .icons-cart .icons-cart-full{
    display: none;
}
.products .box-container .box .icons-cart-active .icons-cart-full{
    display: inline-block;
}
.products .box-container .box .icons-cart-active .icons-cart-plus{
    display: none;
}
/*Eye*/
.products .box-container .box .icons-eye .icons-eye-full{
    color: var(--main-color);
    background-color: #fff;
    border-radius: 5%;
}
.products .box-container .box .icons-eye .icons-eye-full{
    display: none;
}
.products .box-container .box .icons-eye-active .icons-eye-full{
    display: inline-block;
}
.products .box-container .box .icons-eye-active .icons-eye-slash{
    display: none;
}

/*Heart*/
.products .box-container .box .icons-heart .icons-heart-fill{
    color: rgb(211, 28, 28);
    background-color: #fff;
    border-radius: 5%;
}
.products .box-container .box .icons-heart .icons-heart-fill{
    display: none;
}
.products .box-container .box .icons-heart-active .icons-heart-fill{
    display: inline-block;
}
.products .box-container .box .icons-heart-active .icons-heart-empty{
    display: none;
}
/***/
.products .box-container .box .image{
    padding: 2.5rem 0;
}
.products .box-container .box .content h3{
    font-size: 2rem;
    color: #fff;
}
.products .box-container .box .content .stars i{
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    color: rgb(230, 168, 11);
    margin: 2rem 0.3rem;
}
.products .box-container .box .price{
    font-size: 2.4rem;
    color: var(--main-color);
}
.products .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #fff;
}
.products .box-container .box .label{
    position: absolute;
    height: 9rem;
    width: 4rem;
    background: rgb(173, 52, 52);
    top: -1rem;
    left: 3rem;
}
.products .box-container .box .label::after{
    border-width: 2rem 2rem;
    position: absolute;
    content: '';
    border-style: solid;
    left: 0;
    bottom: -2rem;
    border-color: transparent rgb(173, 52, 52) transparent rgb(173, 52, 52);
}
.products .box-container .box .label::before{
    position: absolute;
    content: '';
    left: -10px;
    top: -1px;
    border-top: 1rem solid transparent;
    border-right: 1rem solid rgb(173, 52, 52);
    filter: brightness(35%)
}
.products .box-container .label span{
    position: relative;
    top: 1rem;
    font-size: 1.4rem;
    color: #fff;
    text-transform: none;
}
/* Review */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}
.review .box-container .box{
    text-align: center;
    border: var(--border);
    padding:2rem 3rem;
    position: relative;
}
.review .box-container .box .quote{
    position: absolute;
    top: 0;
    left: 18px;
}
.review .box-container .box p{
    font-size: 1.6rem;
    color: #ccc;
    line-height: 1.8;
    padding: 1.8rem 0;
    margin-bottom: 3rem;
    text-transform: none;
}
.review .box-container .box .pic{
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    line-height: 1.8;
    font-weight: 500;
    padding: 2rem 3rem;
}
.review .box-container .box i{
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    color: rgb(230, 168, 11);
    margin: 2rem 0.3rem;
}
/* Blogs */
.blogs .box-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
.blogs .box-container .box{
    text-align: center;
    border: var(--border);
}
.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}
.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding: 3rem 1rem;
}
.blogs .box-container .box .content .tittle{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.6;
    color: #fff;
}
.blogs .box-container .box .content .tittle:hover{
    color: var(--main-color);
}

.blogs .box-container .box .content span{
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 3rem;
    display: block;
    text-align: left;
    user-select: none;
}
.blogs .box-container .box .content p{
    font-size: 1.6rem;
    color: #fff;
    padding: 2rem 3rem 0;
    line-height: 1.8;
    text-transform: none;
}
.blogs .box-container .box .content p span{
    font-size: 1.6rem;
    color: #fff;
    padding: 1.5rem 3rem;
    line-height: 1.8;
    display: block;
    text-align: center;
}
.blogs .box-container .box .content p span:hover{
    color: var(--main-color);
    cursor: pointer;
}
/* feedback */
.feedback .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 6rem;
    background: var(--black-color);
}
.feedback .row .maps{
    flex: 1 1 50rem;
    display: inline-block;
    position: relative;
    height: 80vh;
}
.feedback .row .map{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.feedback .row form{
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}
.feedback .row form h3{
    text-transform: uppercase;
    font-size: 3.2rem;
    color: #fff;
}
.feedback .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background: var(--black-color);
    border: var(--border);
    position: relative;
}
.feedback .row form .inputBox .form-message{
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    bottom: -25%;
}
.feedback .row form .inputBox-write{
    align-items: flex-start;
    height: 24vh;
}
.feedback .row form .inputBox i{
    font-size: 2rem;
    color: #fff;
    padding-left: 2rem;
}
.feedback .row form .inputBox input{
    width: 100%;
    font-size: 1.7rem;
    padding: 2rem;
    text-transform: none;
    color: #fff;
    background: none;
}
.feedback .row form .inputBox.invalid .form-message{
    color: #ff0000;
    font-size: 1.2rem;
    position: absolute;
    bottom: -28%;
}
.feedback .row form .inputBox.invalid{
    border-color: #ff0000;
}
/* contact*/
.contact{
    margin-top: 6rem;
    background: linear-gradient(to top, rgba(22, 22, 22), transparent);
    text-align: center;
    border-top: var(--border);
    width: 100%;
    height: 30vh;
}
.contact .share{
    padding: 1rem 0;
    text-align:center;
}
.contact .share i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    margin-right: 2rem;
    cursor: pointer;
}
.contact .share i:hover{
    transform: scale(1.1);
    background: #fff;
}
.contact .share .facebook:hover{
    color: #0164e1 ;
}
.contact .share .youtube:hover{
    color: #ff0000;
}
.contact .share .twitter:hover{
    color: #1c9cea;
}
.contact .credit {
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: lighter;
}

.contact .credit span {
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: lighter;
    position: relative;
    cursor: pointer;
}
.contact .credit .qr-code{
   position: absolute;
   width: 16vh;
   height: 16vh;
   top: 20px;
   right: -10px;
   display: none;
   background: #fff;
}
.contact .credit .qr-code span{
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    color: var(--black-color);
    text-align: center;
    top: -8px;
}
.contact .credit .qr-code::before{
    content: '';
    position: absolute;
    background: none;
    width: 100%;
    height: 2rem;
    top: -6px;
}
.contact .credit .qr-code img{
    width: 90%;
    height: 90%;
}
.contact .credit span:hover .qr-code{
    transition: 0.2s linear;
    display: inline-block;
}
.contact .infor{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}
.contact .infor .infor-phone{
    flex: 1 1 45rem;
}
.contact .infor .infor-mail{
    flex: 1 1 45rem;
}
.contact .infor div .right{
    font-size: 1rem;
    padding-right: 5px;
    padding-left: 0px;
}
.contact .infor div .phone{
    color: #6cc352;
    padding-right: 4px;
    padding-left: 0px;
}
.contact .infor div .mail{
    color: #de5347;
    padding: 0 1.4px;
    background-color: #fff;
}
.contact .infor div img{
    height: 12px;
    width: 18px;
}
.contact .infor div i{
    font-size: 1.2rem;
    color: #fff;
    padding: 0 1rem;
}
.contact .infor div span {
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: none;
    color: #fff;
    padding-left: .5rem;
}
